<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Domain</key>
	<string>dev-5peb6fk3nksyqr76.us.auth0.com</string>
	<key>ClientId</key>
	<string>AYr4BGL2GAnFbQoj3Bkdeuc5IFau7qnu</string>
</dict>
</plist>
